aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==4.2.1
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
pycparser==2.21
pycryptodome==3.17
PyJWT==2.6.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.30.0
sqlparse==0.4.4
twilio==8.2.0
tzdata==2023.3
urllib3==2.0.2
yarl==1.9.2
