{% extends 'poll/base.html' %}

{% block content %}
    <div class="jumbotron text-left">
        <h1 class="display-4">What is Blockchain based E-Voting?</h1>
        <p class="lead my-4">Blockchain based voting is a secure, transparent and decentralised way of voting.
            It taps the secure blockchain technology, essentially converting ballots into transactions
            and securely mining blocks out of them. This way anyone can monitor votes but at the same time
            your vote is completely anonymous, preserving your identity.
            <br>
        </p>
        {% if error %}
        <br>
        <h3>Voting Time : Voting Authority haven't set a Voting Time Yet.</h3>
        {% else %}
        <br>
        <h3>Voting Time : {{start}}   to   {{end}}</h3>
        {% endif %}

    </div>
    <div class="text-center">
        <button onclick="location.href='/register'" type="button" class="btn btn-dark btn-lg">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="location.href='/login'" type="button" class="btn btn-dark btn-lg">Vote</button><br>
    </div>
{% endblock %}