{% extends 'poll/base.html' %}

{% block content %}
<div class="text-center">
    <h3>VALIDATE OTP</h3>
</div>
<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5"
        style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form method="post" action="{% url 'otp' %}" class="form-signin p-3">
                {% csrf_token %}
                <label for="otp" class="my-4">Your One Time Password is sent to  {{ country_code }} {{ starred }}</label><br>
                <input type="number" name="otp" placeholder="Enter the OTP code here" required><br><br>
                <input type="password" name="password" placeholder="Enter New Password" required><br><br>
                <input type="password" name="password1" placeholder="Confirm Password" required><br>
                <input type="submit" value="Validate OTP And Generate Token" class="btn btn-primary my-5" style="font-size: 1.4vw;">
                <input type="hidden" name="username" value="{{ username }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}